<a href="https://colab.research.google.com/github/Bot-Weeb/Coursera_Capstone1/blob/main/Coursera_Applied_data_Science_capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1 Preparing the Data frame
 NOTE: all libraries and packages are listed here for all 3 parts

In [50]:
import pandas as pd
from sklearn.cluster import KMeans
import folium
import numpy as np
import matplotlib as mpl
import matplotlib.colors as colors
import matplotlib.cm as cm
import requests
!pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)

Packages have been imported and we shall scrape and count dataframes.

In [51]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df=pd.read_html(url)
print(len(df))

3

In [52]:
df=pd.DataFrame(df[0])
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We now need to remove all rows where Borough is listed as not assigned. We choose df[0] simply because its the first dataframe.

In [53]:
noborough = df[df['Borough'] == 'Not assigned'].index
df.drop(noborough, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [54]:
df[df['Postal Code'].duplicated()]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [55]:
df[df['Neighbourhood']== 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

The 2 cell blocks above ensures no duplication in postal codes, and makes neighbourhoods same as Borough.

In [56]:
df = df.reset_index(drop=True)
df

    Postal Code  ...                                      Neighbourhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...  Business reply mail Processing Centre, South C...
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [57]:
df.shape

(103, 3)

The dataframe is now complete and we know the shape.

# **Part 2 Get geographical coordinates**

We will use the pd.read_csv

In [58]:
!wget -O geocode.csv https://cocl.us/Geospatial_data
df_geoCode = pd.read_csv("geocode.csv")
df_geoCode.head()

--2021-01-30 17:49:55--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.63.96.176, 169.63.96.194
Connecting to cocl.us (cocl.us)|169.63.96.176|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-01-30 17:49:56--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 185.235.236.197
Connecting to ibm.box.com (ibm.box.com)|185.235.236.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-01-30 17:49:56--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-01-30 17:49:56--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 185.235.236.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|185.235.236.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!X0ghTK9sE0aWiyweSNr37FuvmPsWacrAPHs0aNwK2CsOCj9yXWx9JeghA5haBLEqkG5Ov4tXIk5Gdx4AnSuaA9-u4XA5rqWJFOMpzpC0x6DJ-GLlA3d2_xnibsqCYG2n_RYiq_D18oEggJCxCXetzmiD5FLFI2f-j5zz-LVChSw1IPigpqUOawdPyl7VaResbu37_hTXp2GS2fUuMhMww8XHzH2J8-EXwpGu9QhwiGYl_tJZMz460AQH4SYr-X-ODRq1v-9jjLwusZHqMputiSHI1PmmkuQvbusKml6yzN3fZknND4ffdrO8Xv9uzBgDk4osh3YHIg_oWLVPC9Ut90o484Va5a9Eu7CMqHRONGWIfoyNdzpGSiN_M9z0H1SBCuR_5N1UAlCjhJWYm0FYV_Zuw2_SPQWljPl-RNFG57oSQXPrmEy1rzqSDu4h8KnfzqHwtJ4hmO0yqH_TfoEnxxlPl4s4pq3vlf300-Ktr2x_dbSr-spCumZoF5nxwh2oRHRBb8eJyJNce67A6uQYeOqf9jSwwHPP9vArA0hONXCV00ECvPgmft0qlC0Unaw-oKEkIEM7Epy0VhgD_EpStgEXK_9OJP7Ysl0YkiFI6EP3KlMdFWkMYvzXU9qJkqJyqp5lgXPJRI6gji266QE1i5BFPum0HSCLJS-9I0TLcwmBhgO0n_R_4jdXemVzXSwmONQAJgzaY80M3haPdQqDyIZ8n5qSMT8XkdbdHXHcagTw0AZKDqrlcRff1kCLqXzXiSl5mHnE5QjPIEfd0sjhXMyhvuqZgaglhvvHbPaBs92XRo1_f8dV5C-Pk5zrkoZB-QwUju0DNIEhnG7J6mRU4f1Tc_0JyGD3Z4lM8ztaTPkxArx3gsGJjHwHtEykf7ejL13bT2CXs1yOEj10E2ktgjiw4ae7JyDIoAaKkM7mZ6PwirAYc_tHZ7ZOh07aghJSoj6QxDmOh1SqQ7LDcGsBsiOBBlrz67ewUMFfLhdWwLDR1Ru1OnmK2GSAbD1HaI1riBFqh90RWcmTRjSstBUw1iLiFnizjth9EwF6M7tg4KM4KlfZouOYid4ZO55D7Jj3v_7FdYoRpW_oijVO2IpmIVUG9fIvdyykbpHqzrNiFQjaHQmIUhfj_bLcU9db4coNp2xcmZ3o5O3qJADCGFJaBXS1PD8a5LRVmLJjwqPBofmdQuRHSwai_7NfryyPHbN7_BTbrOgI9DNeYv2v0e7leaNDp2OdE7YcvYTTrxIh-nNqZk6__HleFlV7bm8yRxH6Fn1qngF-mE2dFAcHyiAaW8UHedt04tl79fn5S95mlJtRark9uXw_rmFUfUhNsXg7myC_9NE_b7-25qLlx59h2KIab4rbQyh9Cmik2MXNAQiV9gZBfg0LgQ7pcbgkNnict_FCJgy_tv87ueMFplh6vgl_UDfuBhwJ89Rn3xyFDQ3k2sov8sNsiHN5CdFnrQGQWnxcI-Ez6W92O-s./download [following]
--2021-01-30 17:49:56--  https://public.boxcloud.com/d/1/b1!X0ghTK9sE0aWiyweSNr37FuvmPsWacrAPHs0aNwK2CsOCj9yXWx9JeghA5haBLEqkG5Ov4tXIk5Gdx4AnSuaA9-u4XA5rqWJFOMpzpC0x6DJ-GLlA3d2_xnibsqCYG2n_RYiq_D18oEggJCxCXetzmiD5FLFI2f-j5zz-LVChSw1IPigpqUOawdPyl7VaResbu37_hTXp2GS2fUuMhMww8XHzH2J8-EXwpGu9QhwiGYl_tJZMz460AQH4SYr-X-ODRq1v-9jjLwusZHqMputiSHI1PmmkuQvbusKml6yzN3fZknND4ffdrO8Xv9uzBgDk4osh3YHIg_oWLVPC9Ut90o484Va5a9Eu7CMqHRONGWIfoyNdzpGSiN_M9z0H1SBCuR_5N1UAlCjhJWYm0FYV_Zuw2_SPQWljPl-RNFG57oSQXPrmEy1rzqSDu4h8KnfzqHwtJ4hmO0yqH_TfoEnxxlPl4s4pq3vlf300-Ktr2x_dbSr-spCumZoF5nxwh2oRHRBb8eJyJNce67A6uQYeOqf9jSwwHPP9vArA0hONXCV00ECvPgmft0qlC0Unaw-oKEkIEM7Epy0VhgD_EpStgEXK_9OJP7Ysl0YkiFI6EP3KlMdFWkMYvzXU9qJkqJyqp5lgXPJRI6gji266QE1i5BFPum0HSCLJS-9I0TLcwmBhgO0n_R_4jdXemVzXSwmONQAJgzaY80M3haPdQqDyIZ8n5qSMT8XkdbdHXHcagTw0AZKDqrlcRff1kCLqXzXiSl5mHnE5QjPIEfd0sjhXMyhvuqZgaglhvvHbPaBs92XRo1_f8dV5C-Pk5zrkoZB-QwUju0DNIEhnG7J6mRU4f1Tc_0JyGD3Z4lM8ztaTPkxArx3gsGJjHwHtEykf7ejL13bT2CXs1yOEj10E2ktgjiw4ae7JyDIoAaKkM7mZ6PwirAYc_tHZ7ZOh07aghJSoj6QxDmOh1SqQ7LDcGsBsiOBBlrz67ewUMFfLhdWwLDR1Ru1OnmK2GSAbD1HaI1riBFqh90RWcmTRjSstBUw1iLiFnizjth9EwF6M7tg4KM4KlfZouOYid4ZO55D7Jj3v_7FdYoRpW_oijVO2IpmIVUG9fIvdyykbpHqzrNiFQjaHQmIUhfj_bLcU9db4coNp2xcmZ3o5O3qJADCGFJaBXS1PD8a5LRVmLJjwqPBofmdQuRHSwai_7NfryyPHbN7_BTbrOgI9DNeYv2v0e7leaNDp2OdE7YcvYTTrxIh-nNqZk6__HleFlV7bm8yRxH6Fn1qngF-mE2dFAcHyiAaW8UHedt04tl79fn5S95mlJtRark9uXw_rmFUfUhNsXg7myC_9NE_b7-25qLlx59h2KIab4rbQyh9Cmik2MXNAQiV9gZBfg0LgQ7pcbgkNnict_FCJgy_tv87ueMFplh6vgl_UDfuBhwJ89Rn3xyFDQ3k2sov8sNsiHN5CdFnrQGQWnxcI-Ez6W92O-s./download
Resolving public.boxcloud.com (public.boxcloud.com)... 185.235.236.200
Connecting to public.boxcloud.com (public.boxcloud.com)|185.235.236.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘geocode.csv’

geocode.csv         100%[===================>]   2.82K  --.-KB/s    in 0s

2021-01-30 17:49:57 (632 MB/s) - ‘geocode.csv’ saved [2891/2891]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Combine dataframe with part 1 dataframe

In [59]:
df_merged=pd.merge(df, df_geoCode, on='Postal Code')
df_merged

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

# **PART 3: Exploring and Clustering Neighbourhoods in Toronto**

The goal is to cluster neighbourhoods into categories based off of the frequency at which different types of venues appear. This will allow us to gain a better understanding at which areas favor which activities: as well as general popularity of different venues in Toronto.

In [60]:
df_toronto = df_merged[df_merged['Borough'].str.contains('Toronto')]
df_toronto.reset_index(drop=True, inplace=True)
df_toronto.head()

  Postal Code           Borough  ...   Latitude  Longitude
0         M5A  Downtown Toronto  ...  43.654260 -79.360636
1         M7A  Downtown Toronto  ...  43.662301 -79.389494
2         M5B  Downtown Toronto  ...  43.657162 -79.378937
3         M5C  Downtown Toronto  ...  43.651494 -79.375418
4         M4E      East Toronto  ...  43.676357 -79.293031

[5 rows x 5 columns]

The code above filters so that way we only recieve results pertaining to Toronto and then we will define the foursquare credentials

In [61]:
CLIENT_ID='F1OSDCXCWKIYRB2OTPFHGKCTHDLLJBM5S3ZJWZIKFNRDYJC4'
CLIENT_SECRET='F1SQMV5RJ3NEFQSHNVZJWW1BPLPYOS1PCHJPQ0YYZDFNG5AO'
VERSION= '20200623'

Next 2 cells will get category types  and explore neighbourhoods to get nearby venues.

In [62]:
 def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [63]:
LIMIT = 100
radius = 600

def getNearbyVenues(names, latitudes, longitudes, radius=600):
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, CLIENT_SECRET, VERSION, lat, lng, radius, LIMIT)
        results = requests.get(url).json()['response']['groups'][0]['items']
        venues_list.append([(name, lat, lng,
                             v['venue']['name'],
                             v['venue']['location']['lat'], 
                             v['venue']['location']['lng'],
                             v['venue']['categories'][0]['name']) for v in results])
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 'Neighbourhood Latitude', 'Neighbourhood Longitude', 'Venue', 
                             'Venue Latitude', 'Venue Longitude', 'Venue Category']
    return(nearby_venues)

Apply getNearbyVenues to all neighbourhoods

In [64]:
Toronto_Venues = getNearbyVenues(names=df_toronto['Neighbourhood'],longitudes=df_toronto['Longitude'],latitudes=df_toronto['Latitude'],)

In [65]:
Toronto_Venues.head()

               Neighbourhood  ...       Venue Category
0  Regent Park, Harbourfront  ...          Coffee Shop
1  Regent Park, Harbourfront  ...               Bakery
2  Regent Park, Harbourfront  ...  Distribution Center
3  Regent Park, Harbourfront  ...           Restaurant
4  Regent Park, Harbourfront  ...                  Spa

[5 rows x 7 columns]

apply onehot encoding

In [66]:
toronto_onehot = pd.get_dummies(Toronto_Venues[['Venue Category']], prefix="", prefix_sep="")
toronto_onehot.rename(columns={'Neighbourhood':'Neighbourhood (category)'}, inplace=True)
toronto_onehot['Neighbourhood'] = Toronto_Venues['Neighbourhood'] 
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]
toronto_onehot.head()

               Neighbourhood  Airport  ...  Wine Shop  Yoga Studio
0  Regent Park, Harbourfront        0  ...          0            0
1  Regent Park, Harbourfront        0  ...          0            0
2  Regent Park, Harbourfront        0  ...          0            0
3  Regent Park, Harbourfront        0  ...          0            0
4  Regent Park, Harbourfront        0  ...          0            0

[5 rows x 260 columns]

Now we group by neighbourhood

In [67]:
toronto_grouped = toronto_onehot.groupby('Neighbourhood').mean().reset_index()
toronto_grouped.head()

                                       Neighbourhood  ...  Yoga Studio
0                                        Berczy Park  ...     0.010870
1       Brockton, Parkdale Village, Exhibition Place  ...     0.025641
2  Business reply mail Processing Centre, South C...  ...     0.000000
3  CN Tower, King and Spadina, Railway Lands, Har...  ...     0.000000
4                                 Central Bay Street  ...     0.010417

[5 rows x 260 columns]

In [68]:
num_top_venues = 5
for hood in toronto_grouped['Neighbourhood']:
    print("---"+hood+"---")
    temp = toronto_grouped[toronto_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

---Berczy Park---
                venue  freq
0         Coffee Shop  0.09
1  Seafood Restaurant  0.04
2        Cocktail Bar  0.03
3              Lounge  0.03
4               Hotel  0.03


---Brockton, Parkdale Village, Exhibition Place---
            venue  freq
0     Coffee Shop  0.08
1            Café  0.08
2  Breakfast Spot  0.05
3      Restaurant  0.05
4  Sandwich Place  0.05


---Business reply mail Processing Centre, South Central Letter Processing Plant Toronto---
           venue  freq
0    Pizza Place  0.05
1  Auto Workshop  0.05
2        Brewery  0.05
3        Butcher  0.05
4     Steakhouse  0.05


---CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport---
              venue  freq
0    Airport Lounge  0.11
1  Airport Terminal  0.11
2       Coffee Shop  0.11
3     Boat or Ferry  0.11
4           Airport  0.06


---Central Bay Street---
             venue  freq
0      Coffee Shop  0.18
1             Café  0.08
2  Bubble Tea Shop  0.04
3     Burger Joint  0.03
4   Sandwich Place  0.03


---Christie---
           venue  freq
0  Grocery Store  0.25
1           Café  0.19
2           Park  0.12
3     Playground  0.06
4    Candy Store  0.06


---Church and Wellesley---
                 venue  freq
0          Coffee Shop  0.10
1  Japanese Restaurant  0.06
2     Sushi Restaurant  0.05
3                 Café  0.04
4           Restaurant  0.04


---Commerce Court, Victoria Hotel---
                 venue  freq
0          Coffee Shop  0.12
1                Hotel  0.07
2           Restaurant  0.07
3                 Café  0.06
4  Japanese Restaurant  0.04


---Davisville---
                venue  freq
0        Dessert Shop  0.07
1  Italian Restaurant  0.07
2                Café  0.07
3      Sandwich Place  0.07
4         Pizza Place  0.07


---Davisville North---
            venue  freq
0     Pizza Place  0.12
1         Brewery  0.06
2            Park  0.06
3  Sandwich Place  0.06
4  Breakfast Spot  0.06


---Dufferin, Dovercourt Village---
         venue  freq
0       Bakery  0.10
1     Pharmacy  0.10
2  Coffee Shop  0.10
3         Park  0.10
4      Brewery  0.05


---First Canadian Place, Underground city---
         venue  freq
0  Coffee Shop  0.11
1        Hotel  0.10
2         Café  0.06
3   Restaurant  0.04
4          Gym  0.04


---Forest Hill North & West, Forest Hill Road Park---
                venue  freq
0    Sushi Restaurant  0.25
1                Park  0.25
2               Trail  0.25
3       Jewelry Store  0.25
4  Miscellaneous Shop  0.00


---Garden District, Ryerson---
                 venue  freq
0          Coffee Shop  0.10
1       Clothing Store  0.06
2  Japanese Restaurant  0.03
3      Bubble Tea Shop  0.03
4         Burger Joint  0.03


---Harbourfront East, Union Station, Toronto Islands---
         venue  freq
0  Coffee Shop  0.14
1         Café  0.05
2        Hotel  0.05
3         Park  0.04
4      Brewery  0.03


---High Park, The Junction South---
                venue  freq
0                Café  0.11
1         Flea Market  0.06
2     Thai Restaurant  0.06
3       Grocery Store  0.06
4  Mexican Restaurant  0.06


---India Bazaar, The Beaches West---
                  venue  freq
0  Fast Food Restaurant  0.06
1        Sandwich Place  0.06
2                  Park  0.06
3            Restaurant  0.06
4                   Gym  0.06


---Kensington Market, Chinatown, Grange Park---
                           venue  freq
0                           Café  0.06
1                            Bar  0.06
2  Vegetarian / Vegan Restaurant  0.05
3                    Coffee Shop  0.04
4                   Dessert Shop  0.03


---Lawrence Park---
                venue  freq
0                Park  0.25
1         Swim School  0.25
2  Dim Sum Restaurant  0.25
3            Bus Line  0.25
4         Music Venue  0.00


---Little Portugal, Trinity---
              venue  freq
0               Bar  0.11
1        Restaurant  0.05
2  Asian Restaurant  0.04
3      Cocktail Bar  0.04
4           Theater  0.04


---Moore Park, Summerhill East---
                 venue  freq
0                 Park   0.4
1         Tennis Court   0.2
2           Playground   0.2
3                  Gym   0.2
4  Monument / Landmark   0.0


---North Toronto West, Lawrence Park---
                 venue  freq
0  Sporting Goods Shop  0.12
1          Coffee Shop  0.08
2       Clothing Store  0.08
3                 Café  0.08
4          Yoga Studio  0.04


---Parkdale, Roncesvalles---
            venue  freq
0  Breakfast Spot  0.06
1       Gift Shop  0.06
2       Bookstore  0.06
3            Café  0.06
4   Movie Theater  0.03


---Queen's Park, Ontario Provincial Government---
            venue  freq
0     Coffee Shop  0.24
1  Sandwich Place  0.05
2        Pharmacy  0.03
3   Burrito Place  0.03
4            Café  0.03


---Regent Park, Harbourfront---
         venue  freq
0  Coffee Shop  0.16
1      Theater  0.05
2       Bakery  0.05
3         Park  0.05
4          Pub  0.05


---Richmond, Adelaide, King---
         venue  freq
0         Café  0.09
1  Coffee Shop  0.07
2   Restaurant  0.04
3          Gym  0.04
4        Hotel  0.04


---Rosedale---
                       venue  freq
0                       Park   0.6
1                      Trail   0.2
2                 Playground   0.2
3  Middle Eastern Restaurant   0.0
4         Miscellaneous Shop   0.0


---Roselawn---
                     venue  freq
0  Health & Beauty Service   0.2
1                   Garden   0.2
2     Fast Food Restaurant   0.2
3                      Spa   0.2
4               Playground   0.2


---Runnymede, Swansea---
                venue  freq
0                Café  0.10
1         Pizza Place  0.06
2  Italian Restaurant  0.06
3         Coffee Shop  0.06
4  Falafel Restaurant  0.04


---St. James Town---
                 venue  freq
0          Coffee Shop  0.07
1                 Café  0.05
2   Seafood Restaurant  0.04
3   Italian Restaurant  0.03
4  American Restaurant  0.03


---St. James Town, Cabbagetown---
         venue  freq
0  Coffee Shop  0.07
1  Pizza Place  0.05
2         Park  0.05
3         Café  0.05
4   Restaurant  0.05


---Stn A PO Boxes---
                venue  freq
0         Coffee Shop  0.11
1                Café  0.05
2          Restaurant  0.05
3            Beer Bar  0.04
4  Seafood Restaurant  0.04


---Studio District---
                 venue  freq
0                 Café  0.06
1          Coffee Shop  0.05
2                Diner  0.05
3                  Bar  0.05
4  American Restaurant  0.05


---Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park---
                venue  freq
0         Coffee Shop  0.13
1  Italian Restaurant  0.09
2    Sushi Restaurant  0.06
3       Grocery Store  0.06
4         Pizza Place  0.04


---The Annex, North Midtown, Yorkville---
                venue  freq
0                Café  0.13
1      Sandwich Place  0.10
2                 Pub  0.06
3         Coffee Shop  0.06
4  Mexican Restaurant  0.03


---The Beaches---
                venue  freq
0                 Pub  0.14
1           Gastropub  0.09
2  Mexican Restaurant  0.05
3                Café  0.05
4   Electronics Store  0.05


---The Danforth West, Riverdale---
                venue  freq
0    Greek Restaurant  0.12
1         Coffee Shop  0.08
2                 Pub  0.06
3  Italian Restaurant  0.05
4                Café  0.05


---Toronto Dominion Centre, Design Exchange---
                 venue  freq
0          Coffee Shop  0.11
1                Hotel  0.10
2                 Café  0.07
3                  Gym  0.04
4  American Restaurant  0.04


---University of Toronto, Harbord---
       venue  freq
0       Café  0.10
1        Pub  0.04
2  Bookstore  0.04
3        Bar  0.03
4     Bakery  0.03

Show some of the most common venues

In [69]:
def return_most_common_venues(row, num_top_venues):
  row_categories = row.iloc[1:]
  row_categories_sorted = row_categories.sort_values(ascending=False)
  return row_categories_sorted.index.values[0:num_top_venues]

num_top_venues = 10
indicators = ['st', 'nd', 'rd']
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))
neighbourhood_venues_sorted=pd.DataFrame(columns=columns)
neighbourhood_venues_sorted['Neighbourhood']= toronto_grouped['Neighbourhood']
for ind in np.arange(toronto_grouped.shape[0]):
    neighbourhood_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind,:], num_top_venues)
neighbourhood_venues_sorted.head()

                                       Neighbourhood  ... 10th Most Common Venue
0                                        Berczy Park  ...                 Bakery
1       Brockton, Parkdale Village, Exhibition Place  ...       Department Store
2  Business reply mail Processing Centre, South C...  ...             Restaurant
3  CN Tower, King and Spadina, Railway Lands, Har...  ...               Boutique
4                                 Central Bay Street  ...            Salad Place

[5 rows x 11 columns]

Utilize k-means clustering

In [70]:
kclusters = 5
toronto_grouped_clustering = toronto_grouped.drop('Neighbourhood',1)
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [73]:
neighbourhood_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)
toronto_merged = df_toronto
toronto_merged = toronto_merged.join(neighbourhood_venues_sorted.set_index('Neighborhood'), on='Neighborhood')
toronto_merged.head()

ValueError: ignored

In [ ]:
toronto_coordinates =[43.6532, -79.3832]
map_clusters = folium.Map(location=toronto_coordinates, zoom_start=11)
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'],
                                  toronto_merged['Neighbourhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker([lat, lon], radius=5, popup=label, color=rainbow[cluster-1], fill=True,
                        fill_color=rainbow[cluster-1], fill_opacity=0.6).add_to(map_clusters)
map_clusters

In [ ]:
print('cluster 0')
toronto_merged.loc[toronto_merged['Cluster Labels']== 0, toronto_merged.columns[[2]+ list(range(6,toronto_merged.shape[1]))]]

In [ ]:
print('cluster 1')
toronto_merged.loc[toronto_merged['Cluster Labels']== 1, toronto_merged.columns[[2]+ list(range(6,toronto_merged.shape[1]))]]

In [ ]:
print('cluster 2')
toronto_merged.loc[toronto_merged['Cluster Labels']== 2, toronto_merged.columns[[2]+ list(range(6,toronto_merged.shape[1]))]]

In [ ]:
print('cluster 3')
toronto_merged.loc[toronto_merged['Cluster Labels']== 3, toronto_merged.columns[[2]+ list(range(6,toronto_merged.shape[1]))]]

In [ ]:
print('cluster 4')
toronto_merged.loc[toronto_merged['Cluster Labels']== 4, toronto_merged.columns[[2]+ list(range(6,toronto_merged.shape[1]))]]